

/* .card{
    margin: 0 auto 0 auto;
    width: 80%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
    height:auto ;
   } */
   .header{
    margin-top: 20px;
   }
   .header i{
    font-size: 1.7rem;
   }
  .main{
    margin-bottom:  50px;
  }
   
   .header h2{
       text-align: center;
       font-size: 29px;
       margin-top: 40px;
       margin-bottom: 20px;
       color: rgb(255, 202, 58);
   }
   .main h3{
       text-align: center;
       size: 10px;
       margin-top: 10px;
       margin-bottom: 10px;
       color: black solid black;
   }
   .category-container{
    margin: 20px auto 20px auto;
    padding: 10px;
    width: 70%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    height:auto ;
   }
   .image img{
    width: 80%;
    height: 70%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: all 0.5s;
   }
   .image img:hover{
    transform: scale(1.1);
   }
   .des{
    padding: 3px;
    text-align: center;
   
    padding-top: 10px;
          border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .des p{
    font-size: 15px;
  }
  .card button{
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding:10px;
  }
  .card button:hover{
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
  }
  .gallery-slider mySwiper{
    padding-bottom: 30px;
  }
  .gallery-cart{
    border-radius: 15px;
   
    width: 50%;
    margin-top: 10px ;
    padding: 5px 10px;
    background: orange;
    color: white;
    font-size: 0.9rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .gallery-cart:hover{
    transform: scale(1.2);
  }

  .category-box{
    height: auto;
    width: 80%;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .category-image{
    height: 67%;
    width: 80%;
  }
  .category-image img{
    height: 100%;
    width: 100%;
   
    padding-top: 10px;
  }
  .category-description{
margin-top: 10px;
  }
  .category-description p{
    font-size: 0.8rem;
    padding-bottom: 8px;
  }

  @media screen and (max-width:500px){
    .category-box{
      width: 100%;
    }
   } 



   body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}



.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: auto;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
	overflow-y: auto;
}
.pop-up-content-wrap img{
  height: 500px;
}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  right: 0;
  top: -50px;
  cursor: pointer;
  z-index: 99;
  font-size: 3rem;
  color: #fff;
}

@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
@media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
}
