.body {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.popup-show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.contentBox {
  position: relative;
  width: 600px;
  height: 400px;
  background-image: linear-gradient(to bottom, red, rgb(245, 208, 60), rgb(183, 163, 11));
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  box-shadow: 20px 15px 15px rgba(15, 15, 12, 0.1);
}

.contentBox .imgBx {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox .imgBx::before {
  content: "";
  position: absolute;
  left: 25px;
  width: 250px;
  height: 250px;
  background-image: linear-gradient(to bottom right, white, rgb(236, 160, 19), #860505);
  border-radius: 50%;
}

.contentBox .imgBx img {
  position: relative;
  max-width: 250px;
  z-index: 1;
}

.contentBox .content {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox .content h3 {
  color: #050607;
  line-height: 1em;
  font-weight: 400;
  font-size: 2em;
}

.contentBox .content h2 {
  padding-top: 4px;
  font-size: 3em;
  color: #f0eeee;
  line-height: 1em;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.contentBox .content h2 sup {
  vertical-align: baseline;
  /* Resets the default 'super' position */
  position: relative;
  /* Allows manual nudging */
  top: -0.1em;
  /* Moves it up without affecting line height */
  line-height: 0;
  /* Prevents extra gaps between lines */
  font-size: 0.75em;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.contentBox .content h2 span {
  margin-left: 0.4em;
  color: #c62b0c;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 0.75em;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.contentBox .content p {
  font-weight: bold;
}

.contentBox .content a {
  display: inline-block;
  padding: 10px 20px;
  background: #f30911;
  color: white;
  font-weight: bolder;
  margin-top: 15px;
  text-decoration: none;
  text-shadow: 3px 5px 15px rgb(252, 251, 248);
  border-radius: 10px;
}

.contentBox .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #f3f3f3 url(./close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

@media (max-width : 767px) {
  .contentBox {
    width: 300px;
    height: auto;
    flex-direction: column;
    box-shadow: 25px 25px 5px rgba(16, 16, 15, 0.1);

  }

  .contentBox .imgBx {
    height: 200px;
    transform: translateY(-50px);
  }

  .contentBox .imgBx::before {
    background-image: linear-gradient(to bottom right, white, rgb(236, 160, 19), #860505);
  }

  .contentBox .content {
    height: auto;
    text-align: center;
    padding: 20px;
    padding-top: 0;
  }

  .contentBox .close {
    top: -50px;
    right: -10px;
    background: white url(./close.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
  }
}