

/* .card{
    margin: 0 auto 0 auto;
    width: 80%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
    height:auto ;
   } */
   .header{
    margin-top: 20px;
   }
  .main{
    margin-bottom:  50px;
  }
   
   .header h2{
       text-align: center;
       font-size: 29px;
       margin-top: 40px;
       margin-bottom: 20px;
       color: rgb(255, 202, 58);
   }
   .main h3{
       text-align: center;
       size: 10px;
       margin-top: 10px;
       margin-bottom: 10px;
       color: black solid black;
   }
   .category-container{
    margin: 20px auto 20px auto;
    padding: 10px;
    width: 90%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    
    height:auto ;
   }
   .image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: all 0.5s;
   }
   .image img:hover{
    transform: scale(1.1);
   }
   .des{
    padding: 3px;
    text-align: center;
   
    padding-top: 10px;
          border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .des p{
    font-size: 15px;
  }
  .card button{
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding:10px;
  }
  .card button:hover{
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
  }
  